@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=JetBrains+Mono:wght@300;400;500;750&family=Space+Grotesk:wght@400;500;600;700;950&display=swap');
@import "tailwindcss";

@theme {
  --color-neon-lime: #D4FF00;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }
  body {
    background-color: #000000; /* pure absolute black for Editorial theme */
    color: #ffffff;           /* high contrast white */
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
}

@utility stroke-text-white {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

@utility stroke-text-lime {
  -webkit-text-stroke: 1px #D4FF00;
}

@utility stroke-text-gray {
  -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.25);
}
